.container{
    background-color: black;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.textestadistica{
    color: blue;
    font-size: 40;
 
}

.estadistica{
    margin-top: 10;
}

.titulo{
    color: red;
    font-size: 80;
    font-family: Times New Roman;
    
    
}

.textvoto{
    color:green;
    font-size: 20;
}

.boton{
    background-color: red;

    color: white;

}